In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2020-10-26 02:19:36,-46.19,168.86,57.00,51,99,5.01
1,1,Hilo,US,2020-10-26 02:14:46,19.73,-155.09,87.80,55,1,12.75
2,2,New Norfolk,AU,2020-10-26 02:19:36,-42.78,147.06,61.00,49,0,1.99
3,3,Domoni,KM,2020-10-26 02:19:37,-12.26,44.53,76.06,79,0,7.29
4,4,Yermakovskoye,RU,2020-10-26 02:19:37,53.28,92.40,32.95,74,100,5.23

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hilo,US,2020-10-26 02:14:46,19.73,-155.09,87.80,55,1,12.75
3,3,Domoni,KM,2020-10-26 02:19:37,-12.26,44.53,76.06,79,0,7.29
9,9,Atuona,PF,2020-10-26 02:19:38,-9.80,-139.03,79.05,73,0,19.69
13,13,Hithadhoo,MV,2020-10-26 02:19:39,-0.60,73.08,83.70,65,10,6.24
15,15,Kapaa,US,2020-10-26 02:19:40,22.08,-159.32,84.20,66,40,10.29
17,17,Butaritari,KI,2020-10-26 02:19:40,3.07,172.79,81.45,69,63,7.83
19,19,Avarua,CK,2020-10-26 02:19:41,-21.21,-159.78,77.00,69,76,18.34
23,23,Piacabucu,BR,2020-10-26 02:19:42,-10.41,-36.43,77.13,82,68,13.58
29,29,Amapa,BR,2020-10-26 02:19:43,1.00,-52.00,76.93,79,0,4.27
36,36,Limbang,MY,2020-10-26 02:19:45,4.75,115.00,75.20,100,75,4.70

In [11]:
preferred_cities_df.count()

City_ID       148
City          148
Country       148
Date          148
Lat           148
Lng           148
Max Temp      148
Humidity      148
Cloudiness    148
Wind Speed    148
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
1         Hilo      US     87.80  19.73 -155.09
3       Domoni      KM     76.06 -12.26   44.53
9       Atuona      PF     79.05  -9.80 -139.03
13   Hithadhoo      MV     83.70  -0.60   73.08
15       Kapaa      US     84.20  22.08 -159.32
17  Butaritari      KI     81.45   3.07  172.79
19      Avarua      CK     77.00 -21.21 -159.78
23   Piacabucu      BR     77.13 -10.41  -36.43
29       Amapa      BR     76.93   1.00  -52.00
36     Limbang      MY     75.20   4.75  115.00

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Hilo,US,87.80,19.73,-155.09,Hilo Hawaiian Hotel
3,Domoni,KM,76.06,-12.26,44.53,Loulou
9,Atuona,PF,79.05,-9.80,-139.03,Villa Enata
13,Hithadhoo,MV,83.70,-0.60,73.08,Scoop Guest House
15,Kapaa,US,84.20,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))